@import "tailwindcss";
@import 'flowbite';

body {
  background: #0f0f10;
  color: #fff;
}

input,
textarea {
  color: #fff;
}

@keyframes scaleIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-scaleIn {
  animation: scaleIn 0.2s ease-out forwards;
}